.main {
    width: 1280px;
    padding-top: 160px;
    position: relative;

    .category {
        font-size: 42px;
        margin-bottom: 100px;
    }

    .container {
        display: grid;
        gap: 0 40px;
        grid-auto-flow: row;
        justify-content: space-between;
        grid-template-areas:
            ". . ."
            ". . ."
            ". . .";
        width: 100%;

        a {
            height: 450px;
            margin-bottom: 100px;
        }
    }
}
