.switcher{
    display: flex;
    align-items: center;
    height: 20px;

    .switcherCurrency{
        margin-right: 8px;
        font-weight: 500;
    }

    .switcherArrow{
        margin-top: 5px;
        width: 8px;
        transform: rotate(180deg);
    }
}