.cart {
    padding-top: 160px;
    width: 1280px;

    .category {
        font-size: 42px;
        margin-bottom: 120px;
        font-weight: 700;
    }

    .orderInfo {
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-top: 32px;
        margin-bottom: 125px;

        .orderContainer {
            display: flex;
            margin-bottom: 16px;

            .orderTitles {
                margin-right: 10px;

                p {
                    font-weight: 400;
                    font-size: 24px;
                    margin-bottom: 8px;
                }
            }

            .orderValues {
                p {
                    font-weight: 700;
                    font-size: 24px;
                    margin-bottom: 8px;
                }
            }
        }

        .orderBtn {
            font-weight: 600;
            font-size: 14px;
            width: 100%;
            min-height: 43px;
            background: #5ece7b;
            color: #fff;

            &:hover {
                background: #68de87;
            }
        }
    }

    .emptyCart {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .emptyImg {
            width: 250px;
            height: 250px;
            margin-bottom: 10px;
        }

        .emptyText {
            text-align: center;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: underline;
            font-size: 18px;
            cursor: pointer;
        }
    }

    > section:nth-child(2) {
        border-top: 1px solid #e5e5e5;
    }
}
